# Sets in Python

* Sets are type of collection
* this means that like lists and tuples you can input different python types.
* Unlike lists and tuples they are unordered
* this means sets do not record element position
* sets only have unique elements
* sets are denoted by{}
* there are no duplicate values in set
* we can convert list to set by tyoecasting

In [1]:
# create a set
set1={"a","b","c","a"}
set1

{'a', 'b', 'c'}

## Typecasting

In [2]:
# convert list into set
list =["hello",1,2,3]
x= set(list)
x

{1, 2, 3, 'hello'}

## Set operations

In [3]:
y = set(["hi",4,5,6,4])
y

{4, 5, 6, 'hi'}

In [4]:
# add element to set
y.add("am")
y

{4, 5, 6, 'am', 'hi'}

In [5]:
# try to add duplicate element twice
y.add("am")
y

{4, 5, 6, 'am', 'hi'}

In [6]:
# remove the element from set
y.remove("am")
y

{4, 5, 6, 'hi'}

In [7]:
# verify if the element in the set
"hi" in y

True

## set logic operations
 we can check the difference between sets, as well as the symmetric difference,intersection and union

In [8]:
# sample sets
set1 = {"action","horror","comedy"}
set2 = set([10.20,30])
# print two sets
set1, set2

({'action', 'comedy', 'horror'}, {10.2, 30})

### intersection
you canfind the intersect of two sets as follow using &

In [9]:
# find the intersection
set = set1 & set2 # here there are no common values in both sets
set

set()

### Difference
we can find the all elements that are only contained in 1 set using difference method.

In [10]:
set1.difference(set2)  #you only need to consider elements in set1, all the elements in set2 including intersection are not included.

{'action', 'comedy', 'horror'}

In [11]:
set2.difference(set1)   # the elements in set2 but not in set 1

{10.2, 30}

### Union
we can find union of sets

In [12]:
set1.union(set2)

{10.2, 30, 'action', 'comedy', 'horror'}

In [15]:
# check if superset
set1.issuperset(set2)

False

In [16]:
# check if subset
set2.issubset(set1)

False

In [21]:
{"comedy","horror"}.issubset(set1)  # where .issubset will become true

True

In [20]:
set1.issuperset({"action","comedy","horror"})  # where .issuperset will become true

True

## Summary
In this lab we learned about sets.we can covert lists to sets.
we can intersect sets.
we can differenciate sets.
we have done set operation as add and remove.