# String Operations


## to focus
* working with strings
* Perform Operations on strings
* manipulate strings using indexing and escape sequences

In [2]:
#Assign string to variable

name = "Harsha Veena"
name

'Harsha Veena'

# Indexing

In [4]:
name[0]  #indexing strts from 0

'H'

In [5]:
name[8]

'e'

In [7]:
name[-1] #indexing can be done with negative values and -1 is last string

'a'

In [9]:
len("Harsha Veena")    #finding the length of strings

12

## Slicing

In [10]:
name[:4]

'Hars'

Here we sliced the string fron index 0-4th element

In [11]:
name[4:11]   # Here we sliced the string from 4th element to 11th element

'ha Veen'

### Stride
we can take elements in string by skip numberwise like 0,2,4,6... like tha elements display

In [12]:
name[::2]    #Here from the whole strings we chose only every 2nd element

'Hrh en'

In [14]:
name[1:5:2]     #here from 1st element to 5th element we choose every 2nd element

'as'

### Concanate Strings

We use addition to strings(+)

In [20]:
name = "harsha"            #Here we are assigning harsha string first then we are doing addition of strings with new string veena 
name = name + " veena"
name

'harsha veena'

In [22]:
3*"veena "     #doing multiplication , here it will print string by 3 times

'veena veena veena '

## Escape sequences

In [26]:
print("harsha is \n good")    #\n is used for creating new line

harsha is
 good

In [27]:
print("harsha is\t good")    #\t is used to tab space

harsha is	 good

In [29]:
print("harsha\\veena is good")
print(r"harsha\veena is good")     #for backlash we use \\ or r used before string

harsha\veena is good
harsha\veena is good

### String Operations

We will do operations like changing to upper case or lower case

In [30]:
a = "this is cool"
b = a.upper()          #this is to perform string operation of a to convert in to uppercase and store in b
b

'THIS IS COOL'

In [32]:
c = b.lower()    #this is to perform string operation in b from upper to lower case
c

'this is cool'

In [36]:
d = c.replace("this","that")   #we replaced this with that string
d

'that is cool'

In [38]:
d.find("is")    #here we find substring in the folliwing string
                #find is in that is cool

5

In [40]:
d.find("very")    #if we cannot find substring in the following string it shows -ve value

-1

In [41]:
d.fond("is")      #if we writw=e function with wrong spelling it shows error as fond is not a built in function.

AttributeError: 'str' object has no attribute 'fond'

# Summary

In this following string operations lab, we learned how to allocate srtings to variable,how we can add strings, finding the index of strings it starts from 0 and we have negative indexing also -1 is the last element in the string.we learned escape seuences for new line\n tab\t baclslash with\\ or put r infront of string.We learned about finding substrings replacing strings. Operations on strings like converting uppercase to lowercase and converting lowercase to uppercase.