# TYPE, TYPECASTING, BOOL, SIMPLE MATHEMATICAL OPERATIONS

## Type

In [29]:
#To find data type whether it is integer or float or string
type(2)

int

In [30]:
type(2.55)

float

In [31]:
type(-23.543)#Decimals are float numbers

float

In [32]:
type('hi')

str

In [33]:
type("hi")#We can use "" or '' for strings

str

In [34]:
type(-2)#integers have +ve and-ve values

int

## Typecasting
Transforming integer to float,float to integer,integer to string, but we cannot make string to integer, it gives error.

In [35]:
float(2)#converting integer to float

2.0

In [36]:
int(5.6)#converting float to integer, but here we will lose data like decimal to integer

5

In [37]:
str('4')#converting integer to string

'4'

In [38]:
int("a")# we cannot convert string to integer so it shows error

ValueError: invalid literal for int() with base 10: 'a'

## Boolian/bool

Bool function work with two values 0 and 1 which means False and True
1-True
0-False

In [39]:
bool(0)

False

In [40]:
bool(1)

True

In [41]:
int(True)#converting bool function into integer

1

In [42]:
int(False)

0

## Simple mathematical operations
We can do simple operation of addition(+), subraction(-), division(/), multiplication(*), division for roundup(//) with using or without using variables

In [43]:
4+2

6

In [44]:
5-8

-3

In [45]:
6*7

42

In [46]:
6/2

3.0

In [47]:
66/4

16.5

In [48]:
66//4 #here output is integer so we lost decimal values,it will round up remainder and remove decimal values2

16

In [49]:
2*60+30 #first operation is multiplication in this expression

150

In [50]:
(30+2)*60 #here first operation is in()

1920

## With using variables

In [51]:
a = 10 #Assigning values to varibles
b = 2+3+5
print(a,b)

10 10

In [52]:
c=b/2

In [53]:
c

5.0

In [54]:
c=a//2

In [55]:
c

5

In [56]:
x=10     
x= 2    #It ignore previous value
x

2

# *Summary*
   In this we learned about how to know the type of data, changing one data to other format through typecasting,doung simple mathematical operations such as addition, subraction,multiplication,division,division for roundup value of remainder with using variables and without using variables, and also about bool function.